.button {
    font-family: inherit;
    cursor: pointer;
    transition: background 0.25s;
    border: none;
    color: var(--button-text-color);
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
}

.small {
    font-size: 16px;
    padding: 10px 25px;
}

.small-bold {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
}

.big {
    min-width: 250px;
    font-size: 18px;
    padding: 18px 65px;
    box-shadow: 0 10px 40px 0 rgba(122, 129, 190, 0.16);
}

.accent {
    background: var(--primary-color);
}

.accent:hover {
    background: var(--primary-hover-color);
}