.logo-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    transition-duration: 0.3s;
}

.chestAvailable {
    cursor: pointer;
    border: 1px solid #ffda41;
    border-radius: 15px;
    background: #ffda41;
    animation: rainbowGlow 5s infinite alternate; /* Add rainbow glow animation */
}

@keyframes rainbowGlow {
    0% {
        border-color: #ffda41;
        box-shadow: 0 0 10px #ffda41; /* Red shadow */
    }
    20% {
        border-color: #ccfa26;
        box-shadow: 0 0 10px #ccfa26; /* Red shadow */
    }
    40% {
        border-color: #ffbd41;
        box-shadow: 0 0 10px #ffbd41; /* Red shadow */
    }
    60% {
        border-color: #f8ff22;
        box-shadow: 0 0 10px #f8ff22; /* Red shadow */
    }
    80% {
        border-color: #ff4183;
        box-shadow: 0 0 10px #ff4183; /* Red shadow */
    }
    100% {
        border-color: #ffe474;
        box-shadow: 0 0 10px #ffe474; /* Red shadow */
    }
}

.logo-wrapper:hover {
    color: var(--text-secondary-color);
}

.logo-img {
    width: 45px;
    height: 45px;
}

.circle-timer {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle-timer > div:first-child {
    border-radius: 100%;
    background-color: var(--bg-color);
}

.chest-img {
    position: absolute;
    top: 73px;
}

.chest-img img {
    height: 150px;
    user-select: none;
}

.timer-panel {
    display: flex;
    gap: 15px;
}