.h3 {
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.COMMON {
    color: var(--common-rarity-color);
}

.RARE {
    color: var(--rare-rarity-color);
}

.EPIC {
    color: var(--epic-rarity-color);
}