.layout {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; /* Added line to center the image */
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire background */
    filter: brightness(60%);
    border-radius: 10px;
    z-index: -1; /* Push the video behind other content */
}

.won-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}