.logo-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    transition-duration: 0.3s;
}

.logo-wrapper:hover {
    color: var(--text-secondary-color);
}

.logo-img {
    width: 45px;
    height: 45px;
}