@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
    --font: 'Syne', sans-serif;
    --primary-color: #40ec71;
    --primary-hover-color: #63D683;
    --side-menu-bg: #1b1b21;

    --side-menu-border-color-hover: #647268;

    --icon-color: #464646;
    --bg-color: #121215;
    --bg-button-color: #0D0D0E;
    --button-text-color: #000000;
    --text-color: #E6E6E6;
    --text-secondary-color: #B4B6BE;
    --border-color: #292934;
    --white-color: #FFFFFF;

    --card-width: 125px;
    --card-height: 125px;

    --common-rarity-color: #84A6FF;
    --rare-rarity-color: #FFB084;
    --epic-rarity-color: #FF84C6;
}


body {
    font-family: var(--font);
    background: var(--bg-color);
    color: var(--text-color)
}